# Compiled output
/dist
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Infrastructure
docker-compose.yml
docker-compose.override.yml

# Environment variables
.env

# Labs
/labs
