# Dependencies
node_modules/
dist/
pnpm-lock.yaml
pnpm-workspace.yaml

# Infrastructure
docker-compose.yml
docker-compose.override.yml
nest-cli.json

# Environment variables
.env
.env.*

# IDE & OS
.DS_Store
.idea/
.vscode/

# Labs
/labs
